<template>
  <div>
    <div class="center flex">
      <div>
        <h2 class="searchText white-color">Search</h2>
        <div class="search-input border-radius-3px bg-white">
          <div class="keyword-box font-9px grey-color letter-spacing">
            <p>
              <strong>KEYWORD</strong>
            </p>
            <div class="keyword-container flex">
              <input
                type="text"
                class="searchTerm green-border"
                placeholder="What are you looking for?"
              />
              <button
                type="submit"
                class="searchButton white-color green-border"
              >
                SEARCH
              </button>
            </div>
            <div class="advance-mode flex">
              <span style="width:99px">Advanced Mode</span>
              <input
                class="toggle"
                type="checkbox"
                @click="advancedSearch = !advancedSearch"
              />
            </div>
          </div>
        </div>
        <div
          class="advanced-search-input flex border-radius-3px bg-white"
          v-show="advancedSearch"
        >
          <div class="left grey-color letter-spacing" style="margin-right:10px">
            <h5 style="margin-bottom:5px" class="font-9px">COUNTRY</h5>
            <DropDown :options="countries" />
          </div>
          <div class="right grey-color letter-spacing">
            <h5 style="margin-bottom:5px" class="font-9px">TYPE</h5>
            <DropDown :options="types" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DropDown from "../components/DropDown.vue";
export default {
  name: "HomePage",
  components: { DropDown },
  data() {
    return {
      selectedCountry: "Select",
      countries: ["United States", "Canada", "Poland"],
      selectedType: "Select",
      types: ["Poems", "Articles", "Novels"],
      advancedSearch: false
    };
  },
  methods: {
    onChangeCountry() {},
    onChangeType() {}
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.center {
  justify-content: center;
  align-items: center;
  height: 82vh;
}

.searchText {
  text-align: center;
  font-size: 28px;
}

.search-input {
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  height: 126px;
  width: 540px;
  margin-bottom: 10px;
}

.searchTerm {
  width: 380px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}

.keyword-box {
  text-decoration: none solid rgb(95, 95, 95);
  padding-top: 10px;
  padding-left: 20px;
}

.searchButton {
  width: 120px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #57c046;
  font-size: 13px;
}

.keyword-container {
  width: 500px;
}

.advance-mode {
  width: 149px;
  font-size: 12px;
  color: #acacac;
  padding-top: 12px;
}

.toggle {
  -webkit-appearance: none;
  position: relative;
  width: 40px;
  height: 23px;
  border-radius: 50px;
  bottom: 7px;
}

.toggle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-image: url("../assets/cross.png");
  background-size: cover;
  border-radius: 50px;
  transition: all 1s;
  border: 1px solid #d23333;
  background-color: #ecf0f3;
}

.toggle:checked:before {
  transform: translate(100%);
  transition: all 1s;
  background-color: #ecf0f3;
  background-image: url("../assets/check.png");
  border: 1px solid #57c046;
}

.advanced-search-input {
  height: 96px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.flex {
  display: flex;
}

.white-color {
  color: #ffffff;
}

.border-radius-3px {
  border-radius: 3px;
}

.bg-white {
  background: #ffffff;
}

.green-border {
  border: 1px solid #57c046;
}

.font-9px {
  font-size: 9px;
}

.grey-color {
  color: #5f5f5f;
}

.letter-spacing {
  letter-spacing: 1px;
}
</style>
