<template>
  <div class="dropdown">
    <input
      type="text"
      @click="isOpen = !isOpen"
      v-model="search"
      placeholder="Search"
      class="white-border font-14px"
    />
    <img
      :style="isOpen ? 'bottom:137px' : 'bottom: 11px'"
      class="arrow"
      src="../assets/downArrow.png"
      @click="isOpen = !isOpen"
    />
    <ul v-show="isOpen" class="dropdown-options">
      <li
        v-for="(option, index) in options"
        :key="index"
        @click="setOption(option)"
        class="dropdown-option white-border font-14px"
      >
        {{ option }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "SearchDropdown",
  props: ["options"],
  data() {
    return {
      isOpen: false,
      search: ""
    };
  },

  methods: {
    setOption(option) {
      this.search = option;
      this.isOpen = false;
    }
  }
};
</script>

<style>
.dropdown {
  position: relative;
}

.dropdown-options {
  padding: 0;
  margin: 0;
  overflow: auto;
}

.dropdown-option {
  cursor: pointer;
  height: 40px;
  padding: 0px 8px;
  background-color: #f8f8f8;
  color: #121212;
  display: flex;
  align-items: center;
}

input {
  width: 227px;
  height: 40px;
  padding: 0px 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

input:focus {
  outline: none;
}

.arrow {
  position: absolute;
  width: 20px;
  right: 12px;
}

.white-border {
  border: 1px solid #cccccc;
}

.font-14px {
  font-size: 14px;
}
</style>
