<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: "App"
};
</script>

<style>
body {
  background: linear-gradient(130deg, #4545c0 0%, #5caaeb 100%);
}
html {
  width: 100vw;
  height: 100vh;
  font-family: Montserrat;
}
</style>
